@(title: String, response: FinalResponse)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 7px;
            }
        </style>
    </head>
    <body>
    <h3>Search Term: @response.searchTerm</h3>
    <h3>Original URL: @response.originalURL</h3>
    <h3>NEW URL: @response.newURL</h3>
    <table>
        <tr>
            <th>ORIGINAL RESULTS</th>
            <th>NEW RESULTS</th>
        </tr>
        @response.originalResultsWithDelta.indices.map{ a =>
        <tr>
            @results(response.originalResultsWithDelta(a))
            @results(response.newResultsWithDelta(a))
        </tr>
        }
    </table>

    </body>
</html>
